snippet enum "Enumerate"
\begin{enumerate}[label=\alph*.]
\item $0
\end{enumerate}
endsnippet

snippet begin "Begin and end"
\begin{${1:align*}}
$0
\end{$1}
endsnippet

snippet \b "Bold text"
\textbf{${1:text}} $0
endsnippet

snippet graphics "Include graphics"
\includegraphics[width=\textwidth]{${1:image}}$0
endsnippet

snippet \v "Vector"
\vec{$1}$0
endsnippet
